
<!DOCTYPE html>
<html id="html-head">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="google-site-verification" content="VHXKqODh7sXHhgfW82AxHeEyD1wTlr_u71dglxSgu1s" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    {{template "partials_header" .}}
    {{template "partials_flash_base" .}}
    <div class="wrapper" id="wrapper">
      <div id="content">
	      {{template "content" .}}
      </div>
    </div>
    {{template "partials_footer" .}}
  </body>
</html>
