<!DOCTYPE html>
<html id="html-head">
  <head>
    <title> keepmotivat.in</title>
		<link href="/assets/stylesheets/app.css" rel="stylesheet">
	<link href="/assets/dist/vendor.461057ff42bd3b0f2b63.css" rel="stylesheet"><script type="text/javascript" src="/assets/dist/vendor.9c0ae499369cf15e7a83.js"></script><script type="text/javascript" src="/assets/dist/main.21b1f19d8565806d5053.js"></script></head>
  <body>
		{{ template "header" . }}
    <div class="wrapper" id="wrapper">
      <div id="content">
				{{ block "content" . }} {{ end }}
      </div>
    </div>
		{{ template "footer" . }}
  </body>
</html>
