<!DOCTYPE html>
<html id="html-head">
  <head>
    <title> keepmotivat.in</title>
		<link href="/assets/stylesheets/app.css" rel="stylesheet">
	<link href="/assets/dist/vendor.2a4c8f99a045a989cb3a.css" rel="stylesheet"><script type="text/javascript" src="/assets/dist/vendor.3fea07de07bcb617bef9.js"></script><script type="text/javascript" src="/assets/dist/main.8d8dadd60b2eb573e4df.js"></script></head>
  <body>
		{{ template "header" . }}
    <div class="wrapper" id="wrapper">
      <div id="content">
				{{ block "content" . }} {{ end }}
      </div>
    </div>
		{{ template "footer" . }}
  </body>
</html>
